main {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    justify-content: flex-start;
}

#toolbar {
    display: flex;
    flex-direction: row;
    margin: 50px 0;
}

#toolbar>#searchBar {
    width: 100%;
}

#toolbar>a {
    background-color: var(--BrightGray);
    border-radius: 5px;
    border: none;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#toolbar>a:hover {
    cursor: pointer;
    background-color: var(--LightSilver);
}

#toolbar>*:first-child {
    margin-right: 10px;
}

#toolbar>*:not(:first-child):not(:last-child) {
    margin: 0 10px;
}

#toolbar>*:last-child {
    margin-left: 10px;
}

.alert {
    align-self: center;
    width: fit-content;
    margin-bottom: 50px;
}

section#users {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    overflow-y: scroll;
}

#usersHeaders {
    display: flex;
    border-radius: 5px;
    padding: 5px;
    margin: 5px 0;
    background: var(--DarkGray);
    justify-content: space-between;
}

.user {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    padding: 5px;
    margin: 5px 0;
    background: var(--LightSilver);
}

.user * {
    color: black;
}