footer {
    display: flex;
    flex-direction: column;
    background-color: var(--LightSilver);
}

footer>div {
    display: flex;
}

footer>div:first-of-type {
    background-color: var(--RaisinBlack);
    border-radius: 0 0 15px 15px;
    flex-direction: column;
    align-items: center;
    color: var(--DarkGray);
}

footer>div:first-of-type>img {
    width: 30%;
}

footer>div:last-of-type {
    background-color: var(--LightSilver);
}