footer {
    display: flex;
    flex-direction: column;
    background-color: var(--LightSilver);
}

footer>div {
    display: flex;
}

/* Top */
#footerTop {
    background-color: var(--RaisinBlack);
    border-radius: 0 0 15px 15px;
    flex-direction: column;
    align-items: center;
    color: var(--DarkGray);
}

#footerTop>img {
    width: 30%;
    max-width: 300px;
}

#footerTop #socialWrap {
    margin: 25px 0;
    display: flex;
    align-items: center;
}

#footerTop #socialWrap>* {
    margin: 0 7px;
}

#footerTop #socialWrap img {
    width: 3vw;
    max-width: 25px;
}

#footerTop #copyright {
    margin: 25px 0;
    color: var(--DarkGray);
}

/* Bottom */
#footerBottom {
    background-color: var(--LightSilver);
    padding: 5px 10px;
    display: flex;
}

#footerBottom>* a {
    color: black;
    margin: 0 3px;
    font-size: 0.8rem;
}

#footerBottom>*:nth-child(1) {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#footerBottom>*:nth-child(2) {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footerBottom>*:nth-child(3) {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

#footerBottom #langSelect {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#footerBottom>*:nth-child(3) button {
    padding: 0;
    margin: 0;
    border: none;
    display: flex;
    align-items: center;
    margin-right: 10px;
}

#footerBottom>*:nth-child(3) button>img {
    height: 20px;
}