main {
    display: flex;
    align-items: center;
    justify-content: center;
}

#gamesWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3vw;
    margin: 50px 0;
}

.game {
    min-width: 382px;
    min-height: 573px;
    width: 25vw;
    height: 37.5vw;
    max-width: 400px;
    max-height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
}

.game:hover {
    transform: scale(1.05);
}

.game>img {
    object-fit: cover;
    position: absolute;
    border-radius: 5px;
    min-width: 382px;
    min-height: 573px;
    width: 25vw;
    height: 37.5vw;
    max-width: 400px;
    max-height: 600px;
}

.platforms {
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: fit-content;
    border-radius: 100px;
    margin-bottom: 25px;
    padding: 10px;
    background: #00000050;
}

.platforms>img {
    width: 15px;
    height: auto;
    margin: 0 2.5px;
}