header {
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

header>img {
    height: 80%;
}

#menu>a {
    font-size: 1em;
    margin: 0 25px;
    cursor: pointer;
    color: white;
}

#menu>a:last-of-type {
    border: solid 2px white;
    padding: 5px 10px;
    border-radius: 5px;
}

#menu>a:last-of-type:hover {
    border: solid 2px var(--Fuchsia);
    color: var(--Fuchsia);
}