header {
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

header>a {
    height: 80%;
}

header>a>img {
    height: 100%;
}

/* Menu */
#menu>a {
    font-size: 1em;
    margin: 0 25px;
    cursor: pointer;
    color: white;
}

#menu>a#signin {
    border: solid 2px white;
    padding: 5px 10px;
    border-radius: 5px;
}

#menu>a#signin:hover {
    border: solid 2px var(--Fuchsia);
    color: var(--Fuchsia);
}

/* Menu Mobile */
#burgerMenu {
    display: none;
    cursor: pointer;
}

#burgerMenu>img {
    height: 35px;
    width: 35px;
}