/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    padding: calc(var(--margin) / 1.3) var(--margin);
    background-color: #171717;
    align-items: center;
}

header img {
    height: 50px;
}

header nav {
    display: flex;
    align-items: center;
}

header nav>ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
}

header nav>ul>li:not(:last-child) {
    margin-right: 20px;
}

header nav>ul>li>a {
    text-transform: uppercase;
    font-weight: 600;
    color: white;
}

/* MAIN */
section {
    position: relative;
}

/* Section 1 */
section:nth-of-type(1) .slideshow-container {
    position: relative;
    margin: 100px;
    margin-bottom: 30px;
}

section:nth-of-type(1) .slide {
    border-radius: 15px;
    padding: 15px;
    background: #171717;
    background: linear-gradient(90deg, rgba(23, 23, 23, 1) 25%, rgba(13, 13, 13, 1) 50%, rgba(13, 13, 13, 1) 75%, rgba(23, 23, 23, 1) 100%);
}

section:nth-of-type(1) .slide>div {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    padding: 50px;
    padding-right: 150px;
}

section:nth-of-type(1) .slide>div>h2 {
    color: white;
}

section:nth-of-type(1) .slide>div>p {
    color: white;
}

section:nth-of-type(1) .slide>div>button {
    cursor: pointer;
    border: solid white 2px;
    margin-top: 20px;
}

section:nth-of-type(1) .slide>div>button:hover {
    background-color: white;
    color: #0D0D0D;
}

section:nth-of-type(1) .slide>img {
    border-radius: 15px;
    object-fit: cover;
    height: 500px;
    width: 800px;
}

section:nth-of-type(1) .dots {
    position: relative;
    text-align: center;
    left: 50%;
    transform: translate(-50%, 0%);
}

section:nth-of-type(1) .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 4px;
    background-color: #3F3F3F;
    border-radius: 50px;
    display: inline-block;
    transition: background-color 0.6s ease;
}

section:nth-of-type(1) .active {
    width: 50px;
    background-color: #838383;
}

section:nth-of-type(1) .dot:hover {
    background-color: #838383;
}

/* Section 2 */
section:nth-of-type(2) {
    padding-bottom: var(--margin);
}

section:nth-of-type(2)>h1 {
    color: white;
}

section:nth-of-type(2)>div {
    display: flex;
    justify-content: space-between;
    padding: 0 calc(var(--margin) * 4)
}

section:nth-of-type(2)>div div.game-card {
    position: relative;
}

section:nth-of-type(2)>div div#whiteBackground {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 55%;
    background-color: white;
}

section:nth-of-type(2)>div div.game-card>img {
    border-radius: 15px;
    /* max-height: 450px;
    max-width: 300px; */
    height: calc(450 * 0.05vw);
    width: calc(300 * 0.05vw);
}

section:nth-of-type(2)>div div.platforms {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-bottom: calc(var(--margin) / 2);
    background-color: rgb(0 0 0 / 35%);
    border-radius: 500px;
    padding: 5px;
    display: flex;
    align-items: center;
}

section:nth-of-type(2)>div div.platforms>img {
    height: 15px;
    margin: 0 5px;
}

section:nth-of-type(2)>button {
    position: relative;
    cursor: pointer;
    justify-self: center;
    margin-top: calc(var(--margin) * 2);
}

/* Section 3 */
section:nth-of-type(3) {
    background: #ffffff;
}

section:nth-of-type(3)>h1 {
    padding-top: var(--margin);
    background: #0D0D0D;
    border-radius: 15px 15px 0 0;
    color: white;
}

/* FOOTER */
footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: calc(var(--margin)/1.3) var(--margin);
    background-color: #2F2F2F;
}

footer div#branding {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

footer div#branding>img {
    height: 75px;
    margin-right: var(--margin);
}

footer div#contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

footer div#contact>a {
    color: white;
}

footer div#socials {
    display: flex;
    flex-direction: row;
    align-items: center;
}

footer div#socials>a {
    margin-left: 15px;
}

footer div#socials>a>img {
    height: 30px;
}