/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    padding: 25px 40px;
    background-color: #171717;
    align-items: center;
}

header img {
    height: 40px;
}

header nav {
    display: flex;
    align-items: center;
}

header nav>ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
}

header nav>ul>li:not(:last-child) {
    margin-right: 20px;
}

header nav>ul>li>a {
    text-transform: uppercase;
    font-weight: 600;
    color: white;
}

header nav>ul>li>a:hover {
    color: #838383;
}

/* MAIN */
section {
    position: relative;
}

/* Section 1 */
section:nth-of-type(1) .slideshow-container {
    position: relative;
    margin: 100px;
    margin: calc(var(--main-side-padding) * 2) calc(var(--main-side-padding) * 4);
    margin-bottom: 30px;
}

section:nth-of-type(1) .slide {
    border-radius: 15px;
    padding: 15px;
    background: #171717;
    background: linear-gradient(90deg, rgba(23, 23, 23, 1) 25%, rgba(13, 13, 13, 1) 50%, rgba(13, 13, 13, 1) 75%, rgba(23, 23, 23, 1) 100%);
}

section:nth-of-type(1) .slide>div {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    padding: 50px;
    padding-right: 150px;
    height: calc((500 * 0.05vw) - 100px);
}

section:nth-of-type(1) .slide>div>h2 {
    color: white;
}

section:nth-of-type(1) .slide>div>p {
    color: white;
}

section:nth-of-type(1) .slide>div>button {
    cursor: pointer;
    border: solid white 2px;
    margin-top: 20px;
}

section:nth-of-type(1) .slide>div>button:hover {
    background-color: white;
    color: #0D0D0D;
}

section:nth-of-type(1) .slide>img {
    border-radius: 15px;
    object-fit: cover;
    /* height: 500px;
    width: 800px;
    width: 42vw;
    height: 26.25vw; */
    width: calc(800 * 0.05vw);
    height: calc(500 * 0.05vw);
}

section:nth-of-type(1) .dots {
    position: relative;
    text-align: center;
    left: 50%;
    transform: translate(-50%, 0%);
}

section:nth-of-type(1) .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 4px;
    background-color: #3F3F3F;
    border-radius: 50px;
    display: inline-block;
    transition: background-color 0.6s ease;
}

section:nth-of-type(1) .active {
    width: 50px;
    background-color: #838383;
}

section:nth-of-type(1) .dot:hover {
    background-color: #838383;
}

/* Section 2 */
section:nth-of-type(2) {
    padding-bottom: 50px;
}

section:nth-of-type(2)>h1 {
    padding-bottom: 100px;
    color: white;
}

section:nth-of-type(2)>div {
    /* display: flex; */
    justify-content: space-between;
    padding: 0 calc(var(--main-side-padding) * 4);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
}

section:nth-of-type(2)>div div.game-card {
    position: relative;
}

section:nth-of-type(2)>div div#whiteBackground {
    position: absolute;
    top: 330px;
    left: 0;
    width: 100%;
    height: 80%;
    background-color: white;
}

section:nth-of-type(2)>div div.game-card>img {
    border-radius: 15px;
    height: calc(450 * 0.05vw);
    width: calc(300 * 0.05vw);
}

section:nth-of-type(2)>div div.platforms {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-bottom: 25px;
    background-color: rgb(0 0 0 / 35%);
    border-radius: 500px;
    padding: 5px;
    display: flex;
    align-items: center;
}

section:nth-of-type(2)>div div.platforms>img {
    height: 15px;
    margin: 0 5px;
}

section:nth-of-type(2)>button {
    position: relative;
    cursor: pointer;
    justify-self: center;
    margin-top: 100px;
}

/* Section 3 */
section:nth-of-type(3)>h1 {
    padding-top: var(--main-side-padding);
    background: #0D0D0D;
    border-radius: 15px 15px 0 0;
    color: white;
    padding-top: 50px;
    padding-bottom: 100px;
}

section:nth-of-type(3)>div {
    display: flex;
    justify-content: space-between;
    padding: 0 calc(var(--main-side-padding) * 4);
    margin-bottom: 50px;
}

section:nth-of-type(3)>div>#main-news-card {
    border-radius: 15px;
    margin-right: 8vw;
    padding-bottom: 20px;
    height: fit-content;
    background: #171717;
}

section:nth-of-type(3)>div>#main-news-card>img {
    border-radius: 15px;
    width: 100%;
    max-height: 450px;
    object-fit: cover;
}

section:nth-of-type(3)>div>#main-news-card>*:not(img) {
    padding: 0 20px;
    color: white;
}

section:nth-of-type(3)>div>#news>.news-card {
    position: relative;
    display: flex;
    justify-content: space-between;
    border-radius: 15px;
    width: 750px;
    height: 200px;
    margin: 20px 0;
    background: #171717;
    background: linear-gradient(90deg, rgba(23, 23, 23, 1) 25%, rgba(13, 13, 13, 1) 60%, rgba(23, 23, 23, 1) 100%);
}

section:nth-of-type(3)>div>#news>.news-card:first-of-type {
    margin-top: 0;
}

section:nth-of-type(3)>div>#news>.news-card:last-of-type {
    margin-bottom: 0;
}

section:nth-of-type(3)>div>#news>.news-card>div {
    padding: 20px;
    width: 50%;
}

section:nth-of-type(3)>div>#news>.news-card>div>h2 {
    color: white;
}

section:nth-of-type(3)>div>#news>.news-card>div>p {
    color: white;
}

section:nth-of-type(3)>div>#news>.news-card>img {
    border-radius: 15px;
    object-fit: cover;
    height: 200px;
    width: 200px;
}

section:nth-of-type(3)>button {
    cursor: pointer;
    border: solid white 2px;
    margin: 50px 0;
    justify-self: center;
    background-color: #0D0D0D;
}

section:nth-of-type(3)>button:hover {
    background-color: white;
    color: #0D0D0D;
}

/* FOOTER */
footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 50px 40px;
    background-color: #171717;
}

footer div#branding {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 30%;
    justify-content: flex-start;
}

footer div#branding>img {
    height: 60px;
    margin-right: 50px;
}

footer div#contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

footer div#contact>a {
    color: white;
}

footer div#links {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: center;
}

footer div#links>a {
    color: white;
    margin-right: 20px;
    cursor: pointer;
    text-transform: uppercase;
}

footer div#socials {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 30%;
    justify-content: flex-end;
}

footer div#socials>a {
    margin-left: 15px;
}

footer div#socials>a>img {
    height: 30px;
}