main {
    display: flex;
    justify-content: space-between;
    margin: 0;
    flex-wrap: wrap;
    align-items: stretch;
}

h1 {
    font-family: "Open Sans", sans-serif !important;
    color: white !important;
}

b {
    animation: textBlink 1s ease-in-out forwards;
}

@keyframes textBlink {
    0% {
        color: white;
    }

    70% {
        color: white;
    }

    80% {
        color: var(--Fuchsia);
    }

    90% {
        color: white;
    }

    100% {
        color: var(--Fuchsia);
    }
}

#text1 {
    animation: fadeIn 1.75s ease-in-out forwards;
}

#text2 {
    animation: fadeIn 3s ease-in-out forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.column>* {
    width: 100% !important;
    margin-bottom: 50px !important;
    border-radius: 5px !important;
}

iframe {
    border-radius: 5px;
    background-color: white;
}

.row {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 4px;
    justify-content: space-between;
}

.column {
    -ms-flex: 45%;
    flex: 45%;
    max-width: 45%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}