main {
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    background-color: white;
    border-radius: 5px;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 60%;
    max-width: 400px;
}

form>input {
    width: 80%;
    margin: 10px 0;
}

form>input:first-of-type {
    margin-top: 25px;
}

h2 {
    margin-top: 0;
    margin-bottom: 25px;
}

button {
    margin-top: 45px;
}

label {
    cursor: pointer;
}

#stayConnected {
    width: 90%;
    display: flex;
    align-items: center;
}

#bottomText {
    margin: 0;
    margin-top: 45px;
    margin-bottom: -30px;
    font-size: 0.8rem;
    color: var(--DarkGray);
}