main {
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    background-color: white;
    border-radius: 5px;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 60%;
    max-width: 400px;
}

form>input {
    width: 80%;
    margin: 10px 0;
}

form>input:first-of-type {
    margin-top: 25px;
}

h2 {
    margin-top: 0;
    margin-bottom: 25px;
}

form>div {
    display: flex;
    width: 80%;
}

button {
    margin-top: 45px;
}

label {
    cursor: pointer;
}

#terms {
    width: 90%;
    display: flex;
}

#bottomText {
    margin: 0;
    margin-top: 45px;
    margin-bottom: -30px;
    font-size: 0.8rem;
    color: var(--DarkGray);
}

#openPopUp {
    text-decoration: underline;
    cursor: pointer;
    color: black;
}

#openPopUp:hover {
    color: var(--Fuchsia);
}

#popUp {
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    max-width: 400px;
    height: 70%;
    background: white;
    border-radius: 5px;
    padding: 50px;
}

#popUp.active {
    display: flex;
    animation: showPopUp 0.2s ease-in-out forwards;
}

@keyframes showPopUp {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#popUp>p {
    flex: 2;
    overflow-y: scroll;
}