/*----- VARIABLES -----*/
:root {
    /* Brand colors */
    --Fuchsia: #F500FF;
    --RichBlack: #090B15;

    /* Viewport */
    --app-height: 100vh;

    /* Margin */
    --margin: 50px;
}

/*----- SCROLLBAR -----*/
::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px transparent;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: black;
}

/* -----GENERAL----- */
* {
    transition: all 0.25s ease-in-out;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    -webkit-font-smoothing: antialiased;
}

html {
    overflow-x: hidden;
    background-color: var(--RichBlack);
}

body {
    margin: 0;
    width: 100vw;
    /* height: var(--app-height); */
    background-color: white;
}

main {
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

h1 {
    margin: 0;
    padding: 0;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    padding-top: calc(var(--margin) * 2);
    padding-bottom: calc(var(--margin) * 2);
}

button {
    border-radius: 500px;
    border: none;
    text-transform: uppercase;
    font-weight: 900;
    padding: calc(var(--margin) / 4) calc(var(--margin) / 2);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #2F2F2F;
    color: white;
}