/*----- VARIABLES -----*/
:root {
    /* Brand colors */
    --Fuchsia: #F500FF;
    --RichBlack: #090B15;

    /* Alerts */
    --PastelRed: #FF6767;
    --PastelYellow: #FFD167;
    --PastelGreen: #6BFF6B;

    /* Viewport */
    --app-height: 100%;

    /* Glassmorphism */
    --Blur: 10px;
    --GlassOpacity: 0.1;
}

/*----- SCROLLBAR -----*/
::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px transparent;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: black;
}

/* -----GENERAL----- */
* {
    transition: all 0.25s ease-in-out;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    -webkit-font-smoothing: antialiased;
}

html {
    overflow: hidden;
    background-color: var(--RichBlack);
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    color: white;
}

main {
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


/* Alerts */
.alert {
    border-radius: 5px;
    padding: 10px;
    color: white !important;
}

.alert.error {
    background-color: var(--PastelRed);
}

.alert.warning {
    background-color: var(--PastelYellow);
}

.alert.success {
    background-color: var(--PastelGreen);
}