main {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    flex-direction: column;
    margin: 0;
    padding-top: 50px;
}

#supportGrid {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    margin: 50px 0;
}

#supportGrid>div {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 15pt;
    padding: 25px;
    border-radius: 5px;
    border: solid white 3px;
    text-transform: lowercase;
    cursor: pointer;
}

#supportGrid>div:not(:first-child):not(:last-child) {
    margin: 0 25px;
}

#supportGrid>div:hover {
    border: solid transparent 3px;
    background-image: linear-gradient(to right,
            var(--RichBlack),
            var(--RichBlack)),
        conic-gradient(from var(--angle),
            var(--Fuchsia) 0deg 90deg,
            transparent 90deg 180deg,
            var(--Fuchsia) 180deg 270deg,
            transparent 270deg 360deg);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    animation: rotate 4s linear infinite;
}

#supportGrid>div>* {
    text-align: center;
}

#helpText {
    width: 100%;
    text-align: center;
    margin: 50px 0;
}

form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border: solid 2px var(--Fuchsia);
    border-radius: 5px;
    margin-bottom: 50px;
    padding: 25px 50px;
    padding-top: 50px;
}

form>* {
    margin: 10px 0px;
}

#support h2 {
    position: relative;
    z-index: 1;
    background-color: var(--RichBlack);
    color: white;
    padding: 0 25px;
    margin-bottom: -20px;
    margin-left: 25px;
    text-align: start;
    width: fit-content;
}

button {
    color: white;
    border-color: white;
}

/* Border Animation */
:root {
    --angle: 45deg;
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes rotate {
    to {
        --angle: 360deg;
    }
}

/* FAQ */
#faq {
    padding-top: 50px;
    margin-bottom: 50px;
}

.faq {
    border: solid 2px var(--Fuchsia);
    border-radius: 5px;
    padding: 5px 25px;
    margin: 25px 0;
}

.faq>.question {
    display: none;
}

#faq h2 {
    color: white;
    display: flex;
    justify-content: space-between;
    font-weight: normal;
    cursor: pointer;
}

#faq h2::after {
    content: url('/assets/img/icons/arrow_drop_down.svg');
}

#faq h2.active::after {
    transform: rotateX(180deg);
}

.faq a {
    font-weight: bold;
}

.faq a:hover {
    color: var(--Fuchsia);
}