body {
    background: var(--RichBlack);
}

main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 50px;
    background-color: #dbdbdb;
}

a,
p,
b,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: black;
}

#artworkWrapper {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 50vh;
    margin: 0px -15vw;
    background-color: #9C000E;
}

#artwork {
    height: 100%;
}

h1 {
    margin-bottom: 10px;
}

#description {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#description>img {
    height: 250px;
    width: auto;
    margin-left: 100px;
}

#description p {
    margin-top: 75px;
}

#platforms,
#controllers {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 0;
}

#platforms img,
#controllers img {
    width: 40px;
    margin-left: 20px;
}

button {
    border: white solid 2px;
    color: white;
}