@media (max-width: 800px) {
    #footerTop #socialWrap img {
        width: 25px;
    }

    #footerTop>img {
        width: 40%;
    }

    #footerBottom {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    #footerBottom>* {
        margin: 10px 0;
    }

    #footerBottom>*:nth-child(2)>a {
        text-align: center;
    }

    #footerBottom>*:nth-child(3) {
        width: 100%;
        justify-content: space-between;
    }
}

@media (max-width: 500px) {
    #footerBottom>*:nth-child(2) {
        flex-direction: column;
    }

    #footerBottom>*:nth-child(2)>a:nth-of-type(even) {
        display: none;
    }

    #footerBottom>*:nth-child(2)>a:nth-of-type(odd) {
        margin: 5px 0;
    }
}