@media (max-width: 1000px) {
    #showcase {
        margin: 0px -5vw;
    }

    #showcase>a#showcaseLogo>img {
        width: 70vw;
    }

    #gamesWrapper {
        gap: 10vw;
    }

    .game, .game>img {
        width: 40vw;
        height: 60vw;
        max-width: inherit;
        max-height: inherit;
    }
}

