@media (max-width: 1200px) {
    :root {
        --main-side-padding: 25px;
    }
}

@media (max-width: 800px) {
    :root {
        --main-side-padding: 10px;
    }

    h1 {
        font-size: 1.8rem;
    }

    h2 {
        font-size: 1.2rem;
    }

    a,
    p {
        font-size: 0.8rem;
    }
}