/* SCROLLBAR */
::-webkit-scrollbar {
    width: 0;
}

/* THEME */
[data-theme="light"] {
    --color-bg-section: #ffffff;
    --color-text: #000000;
    --color-bg-interest: #ededed;
}

[data-theme="dark"] {
    --color-bg-section: #1d1d1d;
    --color-text: #f1f1f1;
    --color-bg-interest: #2f2f2f;
}

/* GENERAL */
* {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    transition: ease-in-out 0.25s;
}

html {
    background-color: white;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    background: #42275a;
    background: -webkit-linear-gradient(to right, #734b6d, #42275a);
    background: linear-gradient(to right, #734b6d, #42275a);
}

main {
    padding: 25px;
    width: 600px;
}

@media (min-width: 600px) {
    main {
        min-width: 500px;
    }
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
}

h1,
h2,
h3,
h4 {
    color: var(--color-text);
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2rem;
    font-weight: 700;
}

h2 {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 15px;
}

h3 {
    font-size: 1rem;
    font-weight: 400;
    color: gray;
}

a,
h4 {
    font-size: 1rem;
    font-weight: 400;
    text-decoration: none;
    color: var(--color-text);
}

section {
    position: relative;
    background-color: var(--color-bg-section);
    border-radius: 5px;
    padding: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
    max-width: 700px;
}

section:first-of-type {
    margin-top: 0;
}

section:last-of-type {
    margin-bottom: 0;
}

/* Section 1 */

section:nth-of-type(1)>.flip-card img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

section:nth-of-type(1)>a {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

section:nth-of-type(1)>a>img {
    margin-right: 10px;
    width: 20px;
    height: 20px;
}

section:nth-of-type(1) .flip-card {
    background-color: transparent;
    width: 150px;
    height: 150px;
    cursor: pointer;
}

section:nth-of-type(1) .flip-content {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

section:nth-of-type(1) .flip-card:hover .flip-content {
    transform: rotateY(180deg);
}

section:nth-of-type(1) .flip-front,
section:nth-of-type(1) .flip-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

section:nth-of-type(1) .flip-back {
    transform: rotateY(180deg);
}

/* Section 2 */

section:nth-of-type(2) {
    display: flex;
    flex-direction: column;
}

section:nth-of-type(2)>a::before {
    content: url("../assets/icons/link.svg");
    margin-right: 10px;
    vertical-align: middle;
    width: 20px;
    height: 20px;
}

section:nth-of-type(2)>a,
section:nth-of-type(3)>a {
    text-decoration: underline transparent solid 1px;
}

section:nth-of-type(2)>a:hover,
section:nth-of-type(3)>a:hover {
    text-decoration: underline gray solid 1px;
}

/* Section 3 */

section:nth-of-type(3) {
    display: flex;
    flex-direction: column;
}

section:nth-of-type(3) a {
    margin-bottom: 5px;
}

section:nth-of-type(3) img {
    margin-right: 10px;
    vertical-align: middle;
    width: 20px;
    height: 20px;
}

/* Section 4 */

section:nth-of-type(4) {
    display: flex;
    flex-direction: column;
}

section:nth-of-type(4)>a::before {
    content: url("../assets/icons/link.svg");
    margin-right: 10px;
    vertical-align: middle;
    width: 20px;
    height: 20px;
}

section:nth-of-type(4)>a {
    text-decoration: underline transparent solid 1px;
}

section:nth-of-type(4)>a:hover {
    text-decoration: underline gray solid 1px;
}

/* Section 5 */

section:nth-of-type(5) a {
    padding: 4px 8px;
    background-color: var(--color-bg-interest);
    border-radius: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    cursor: default;
}

section:nth-of-type(5)>div {
    display: flex;
    flex-wrap: wrap;
    max-width: 500px;
}

/* ANIMATIONS */
section {
    animation: fadeIn 0.5s forwards;
    opacity: 0;
}

section:nth-of-type(1) {
    animation-delay: 0.1s;
}

section:nth-of-type(2) {
    animation-delay: 0.2s;
}

section:nth-of-type(3) {
    animation-delay: 0.3s;
}

section:nth-of-type(4) {
    animation-delay: 0.4s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}